<div id="about" class="about-page container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>What is DIG?</h2><br>
      <p><strong>DIG is a dream factory, a place where all your wishes can be fulfilled, right here at Deakin University. DIG is an incubator, which is a program that provides an opportunity for you togain experience and get your hands dirty working on real projects, outside of your regularcurriculum. We’ll give you the opportunity, resources and projects to help launch your careeras an IT professional, a game developer, an entrepreneur...</strong></p><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-md-2 col-md-offset-2 text-center wrap-logo">
      <span class="glyphicon glyphicon-flag logo"></span>
    </div>
  </div>
</div>
