<div class="bgded overlay front-page" style="background-image:url('/assets/cover.jpg');">
  <!-- ################################################################################################ -->
  <div class="col-sm-12">
    <div class="col-sm-6 col-md-offset-1">
      <div class="wrapper row1">
        <header id="header" class="hoc clear">
          <!-- ################################################################################################ -->
          <div id="logo" class="fl_left">
            <%= link_to image_tag("logo-test.png", :alt => "Deakin Incubator Group") %>
          </div>
          <!-- ################################################################################################ -->
        </header>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
          <h2>Deakin Incubator Group</h2>
          <p>Your chance to get real world experience while still studying!</p>
          <footer>
          	<!--
            <ul class="nospace inline pushright">
              <li><a class="btn" href="pages/aboutus.html">About Us</a></li>
              <li><a class="btn inverse" href="pages/casestudies.html">Case Studies</a></li>
            </ul>
            -->
          </footer>
        </article>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <div class="col-sm-4 box-join">
      <div class="hoc clear" style="float: right">
        <button id="join-popover" class="btn btn-default btn-circle-transparent btn-join"
          data-toggle="popover" data-placement="left"
          data-html="true"
          title="<span class='lead'>Join as</span></strong>"
          data-content="
            <table class='table table-hover'>
              <thead>
                <tr><td><a href='/join?role=Client'>
                  <span class='lead'>Client</span>
                </a></td></tr>
                <tr><td><a href='/join?role=Developer'>
                  <span class='lead'>Developer</span>
                </a></td></tr>
              </thead>
            </table>
          ">
          <span class="label-btn-transparent">Join</span>
        </button>
      </div>
    </div>
  </div>
  <%= render 'homepage/carousel' %>
  <!-- ################################################################################################ -->
</div>
