<div class="col-md-6 col-md-offset-3" ng-controller="PostsController">

  <div ng-init="more_func('')">
    <div ng-repeat="post in posts">
      <%= render 'posts/post' %>
    </div>
  </div>

  <%= render 'posts/more_button' %>

  <%= render 'posts/nothing' %>

</div>
