<div class="container-fluid" style="height:94vh; margin-top: 20px;">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if devise_error_messages!.present? %>
    <aside class="alert alert-warning">
      <%= devise_error_messages! %>
    </aside>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_type %><br />
    <%= f.select :user_type, @user_type.to_a, {}, prompt: "Select a user type",
      class: "form-control" %>
  </div>

  <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
