<h1>Deakin Incubator Group<h1>

<p>Hi <%= @request.name %>,</p>

<p>Welcome to Deakin Incubator Group (DIG)! Click on the link below to sign up:</p>

<%= link_to "Sign up", edit_request_acceptant_url(@request.acceptant_token,
                                                  email: @request.email) %>
