<div class="outer-comment-box">
  <div class="inner-comment-box">
    <ul class="list-group">

      <li class="list-group-item clearfix"
        ng-repeat="comment in comments[post.id]">
        <div class="comment-box">
        <dl class="dl-horizontal">
          <dt>
            <span><strong>{{ comment.user.name }} :</strong></span>
            <br />
            <span class="h5" style="font-size:10px;">
              <small>{{ comment.created_at | timeago }}&nbsp;&nbsp;</small>
            </span>
          </dt>
          <dd>
            <span>{{ comment.comment }}</span>
          </dd>
        </dl>
        </div>
      </li>

    </ul>
  </div>
</div>
