<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>

    body {
      height: 100%;
      background: #ececec;
    }

    div.dialog {
      position: absolute;
      margin-top: 10%;
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  </style>

</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog text-center">
    <div>
      <h1>The page you were looking for doesn't exist.</h1>
      <br />
      <p class="lead">You may have mistyped the address or the page may have moved.</p>
      <p class="lead">If you are the application owner check the logs for more information.</p>
      <br />
      <p><%= link_to 'Get me out of here', root_url, class: 'btn btn-default btn-lg' %></p>
    </div>
  </div>
</body>
</html>
