<ol class="list-group">
  <div class="col-md-12 result_style">
    <li class="list-group-item list-group-item-warning text-center alert-box"
        style="height: 130px;">
        <h4 class="lead">No one has been added yet.</h4>
        <span class="lead small">To add members to current project, please click on find members
          to display search form.</span><br />
        <span class="lead small">Search function is capable of searching for any user by name or email.</span>
    </li>
  </div>
</ol>
