<ol class="list-group">
  <div class="col-md-12 result_style">
    <li class="list-group-item list-group-item-warning text-center alert-box"
        style="height: 130px;">
        <h4 class="lead">Searching for <b>{{ keywords }}</b></h4>
        <span class="p">The member you are looking for doesn't exist.</span>
        <span class="p">Make sure input the correct name or email.</span><br />
    </li>
  </div>
</ol>
