<nav>
  <ul class="pager">
    <li class="previous">
      <a href="" ng-click="previousPage()"
        ng-hide="page == 0 || members.length < 1">
        &larr; Previous
      </a>
    </li>
    <li class="next">
      <a href="" ng-click="nextPage()"
        ng-show="(all || keywords.length > 0) && next_exist">
        Next &rarr;
      </a>
    </li>
  </ul>
</nav>
