<ol class="list-group">
  <div class="col-md-12 result_style">
    <li class="list-group-item list-group-item-info text-center alert-box"
        style="height:65px;">
        <span>Click <strong>ALL</strong> to show every members <strong>OR</strong></span><br />
        <span><strong>TYPE</strong> to search for specific members.</b></span>
    </li>
  </div>
</ol>
