<article>
  <section class="search-form result_margin">
    <form name="myForm">
      <label for="keywords" class="sr-only">Keywords</label>
      <div class="input-group input-group-lg">
        <input type="text"
               name="keywords"
               class="form-control input-lg"
               placeholder="Name, or Email Address"
               ng-change="search(keywords, false); all=false"
               ng-model="keywords">
         <span class="input-group-btn">
           <button class="btn btn-default" type="button"
              ng-click="search('', false); all=true">
              All
            </button>
         </span>
       </div>
    </form>
  </section>
  <section class="search-results" ng-show="all || myForm.keywords.$dirty"
    ng-hide="(keywords.length < 1 && !all) || myForm.keywords.$pristine">
    <ol class="list-group col-md-12 pagination-centered">

      <div ng-show="keywords && members.length <= 0">
        <%= render 'users/null_result' %>
      </div>
      <div ng-show="(keywords || all)  && members.length > 0" class="col-md-6 result_style"
          ng-repeat="member in members">
        <li class="list-group-item result-box">
          <h4 class="pull-right">
            <a href="/users/{{member.id}}">
              <img src="/assets/image.jpg" class="img-circle" style="width: 34px;" />
            </a>
            <% if @project.present? %>
                <button class="btn btn-success btn-circle" type="button"
                      ng-show="!exist(member, project)"
                      ng-click="add(member, project, keywords)">
                      ✔
                </button>

                <button class="btn btn-danger btn-circle" type="button"
                      ng-show="exist(member, project)"
                      ng-click="remove(member, project, keywords)">
                      ✘
                </button>

            <% end %>
          </h4>
          <a href="/users/{{member.id}}">
            <h4>{{ member.name }}</h4>
          </a>
          <h4><small>{{ member.email }}</small></h4>
          <h5 class="pull-right">
            <small class="text-uppercase">Joined </small>{{ member.created_at | date }}
          </h5>
          <h4><small>{{ member.phone || 'no phone' }}</small></h4>
        </li>
      </div>
    </ol>

    <footer class="result_margin">
      <%= render 'users/pager' %>
    </footer>
  </section>
  <section class="search-results" ng-show="!all && myForm.keywords.$pristine"
    ng-hide="myForm.keywords.$dirty">
    <%= render 'users/pristine_result' %>
  </section>
  <hr />
