<li><%= @user.name %></li>
<li><%= @user.email %></li>
<li><%= @user.phone %></li>

<% @posts.each do |post| %>
  <p><%= post.content %></p>
  <p><%= post.file.file || 'file is null' %></p>
<% end %>
