<% if @project.errors.any? %>
  <div class="alert alert-danger col-md-8 col-md-offset-2">
    <h3><%= pluralize(@project.errors.count, "error") %> prohibited this request from being sent:</h3>

    <ul>
    <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
