<div class="box-margin">
  <h3>
    Members
    <span class="label label-primary">
      {{ results.length }}
    </span>
    <span class="pull-right">
        <button data-toggle="collapse" data-target="#search_users"
          class="btn btn-default">
          <span id="search-icon" class="glyphicon glyphicon-off"></span>
        </button>
    </span>
  </h3>
</div><hr />
