
  <table class="table table-hover" ng-init="init_results(project)">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>In Project</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in results">
        <td style="width: 52px;"><%= image_tag("image.jpg",
                  class: "img-circle") %></td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td style="text-align: center; width: 81px;">{{ user.projects.length }}</td>
        <td>
          <button class="btn btn-danger btn-circle pull-right" type="button"
            ng-click="remove(user, project)">✘</td>
        </td>
      </tr>
    </tbody>

  </table>
