
  <%= render 'admin/projects/form_error_messages' %>

  <div id="div-project-data" data-project-id="<%= @project.id %>">
    <div class="col-md-6 col-md-push-6 content">
      <h3>Edit</h2>


        <%= form_for(@project, url: admin_project_url(@project), html: { multipart: true }) do |f| %>

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description %><br />
            <%= f.text_area :description, rows: 15, autofocus: true, class: "form-control description" %>
          </div>

          <div class="form-group">
            <%= f.label :attachment, "File attachment" %><br>
            <span class="btn btn-default btn-file">
              <%= f.file_field :file %>
            </span>
          </div>


          <%= f.submit "Submit", class: "btn btn-primary btn-lg" %><br /><br />
        <% end %>




    </div>
    <div class="col-md-6 col-md-pull-6">
      <%= render 'admin/projects/search_toggle' %>
      <div id="search_users" class="collapse in">
        <%= render 'users/search_users' %>
      </div>

      <div ng-show="results.length > 0">
        <%= render 'admin/projects/table' %>
      </div>

      <div ng-hide="results.length > 0">
        <%= render 'users/empty_label' %>
      </div>
    </div>
  </div>
