
  <%= render 'admin/projects/form_error_messages' %>

<div class="jumbotron container container-fluid col-md-8 col-md-offset-2">
  <h2>Project</h2>


  <%= form_for(@project, url: admin_projects_url(@project), html: { multipart: true }) do |f| %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description, rows: 15, autofocus: true, class: "form-control description" %>
    </div>

    <div class="form-group">
      <%= f.label :attachment, "File attachment" %><br>
      <span class="btn btn-default btn-file">
        <%= f.file_field :file %>
      </span>
    </div>


    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %><br /><br />
  <% end %>



</div>
