<div id="div-project-data" data-project-id="<%= @project.id %>">
  <div class="col-md-6 col-md-push-6 text-center content">

    <%= render 'projects/content' %>

  </div>
  <div class="col-md-6 col-md-pull-6">
    <%= render 'admin/projects/search_toggle' %>
    <div id="search_users" class="collapse in">
      <%= render 'users/search_users' %>
    </div>

    <div ng-show="results.length > 0">
      <%= render 'admin/projects/table' %>
    </div>

    <div ng-hide="results.length > 0">
      <%= render 'users/empty_label' %>
    </div>
  </div>
</div>
