<div class="container-fluid content_margin">
  <div class="header-div">
    <div class="header-center"><h3><%= @project.name %></h3></div>


      <div class="header-right row">
        <% if current_user.user_type.user_type.eql? UserType::Admin%>
        <div class="col-md-6">
          <%= link_to edit_admin_project_url(@project), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </div>
        <% end %>
        <div class="col-md-6">
          <button data-toggle="collapse" data-target="#project_content"
            class="btn btn-default">
            <span id="search-icon" class="glyphicon glyphicon-off"></span>
          </button>
        </div>
      </div>


  </div>
  <hr />
  <div id="project_content" class="collapse in">

    <p class="show_content"><%= @project.description %></p>
    <hr />
    <% if @project.file.present? %>
      <%= link_to 'Attachment', admin_projects_pdf_url(@project), method: :post,
                class: 'btn btn-default attachment' %>
    <% else %>
      <button class="btn btn-default attachment disabled">
        No Attachment Available
      </button>
    <% end %>
  </div>
</div>
