<ol class="list-group">
  <% @projects.each do |project| %>
    <div class="col-md-4 box_margin">
      <div class="list-group-item text-center result_box">
        <div class="content_header">
          <h3>
            <%= link_to project.name, (admin? ? admin_project_url(project) : project_url(project)) %>
            <br /><hr /></h3>
        </div>
        <div class="content_mid line-clamp">
          <p><%= project.description %></p>
        </div>
        <div>
          <% if project.file.present? %>
            <%= link_to 'Attachment', admin_projects_pdf_url(project), method: :post,
                      class: 'btn btn-default attachment' %>
          <% else %>
            <button class="btn btn-default attachment disabled">
              No Attachment Available
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</ol>
