<div class="col-md-6 col-md-push-6">
  <%= render 'projects/content' %>
</div>


<div class="col-md-6 col-md-pull-6" ng-controller="PostsController"
  id="div-project-data" data-project-id="<%= @project.id %>">

  <div class="form-post">
    <form name="postForm">
      <div class="form-group">

        <textarea class="form-control postAutoExpand input-expand" name="content"
          ng-model="content" data-min-rows="2" rows="2" autofocus="true"></textarea>
        <div class="row" style="margin-top: 10px;">
          <div class="form-group col-md-6">
            <span class="btn btn-default btn-file">
              <input name="file" fileread="file" ng-model="file" type="file"></input>
            </span>
          </div>
          <div class="col-md-6 div-post">
            <button class="btn btn-primary btn-post" type="button"
              ng-click="post(content, file, project); content=''">
               POST
             </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <div ng-init="more_func(project)">
    <div ng-repeat="post in posts">
      <%= render 'posts/post' %>
    </div>
  </div>

  <%= render 'posts/more_button' %>

  <%= render 'posts/nothing' %>


</div>
