// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index.html.erb */

.result_box {
  height: 350px;
}

.box_margin {
  margin-bottom: 30px;
}

.content_header {
  height: 60px;
}

.content_header a {
  color: #000000;
}

.content_mid {
  height: 192px;
  width: 100%;
  margin: 0 0 1em 0;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

ol.list-group {
  padding-top: 12px;
}

/* show.html.erb */

.attachment {
  width: 100%;
}

.content_margin {
  margin-left: 15px;
  margin-right: 15px;
}

.show_content {
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-line;
}

.box-top-margin {
  margin-top: 16px;
}

.box-margin {
  margin-left: 15px;
  margin-right: 15px;
}

.description {
  resize: vertical;
}

.header-div {
  height: 46px;
}

.header-center {
  position: absolute;
  top: 28px;
  transform: translate(0, -50%);
}

.header-right {
  position: absolute;
  width: 90px;
  right: 0px;
  top: 36px;
  transform: translate(-60%, -50%);
}
