<% if current_page? root_url %>
  <button ng-click="more_page('')"
    class="btn btn-default btn-more"
    ng-show="more_exist">
    More
  </button>
<% else %>
  <button ng-click="more_page(project)"
    class="btn btn-default btn-more"
    ng-show="more_exist">
    More
  </button>
<% end %>
