<ul class="list-group">
  <li class="list-group-item list-group-item-default"
    style="min-height: 105px;">

    <div class="col-md-2">
        <img src="/assets/image.jpg" class="img-circle"
          style="width: 68px; margin-top: 8px; margin-left: -6px;" />
    </div>
    <br />

    <span class="lead" style="font-weight: 400;">
      {{ post.user.name }}
    </span>

    <span class="small pull-right" style="padding-right: 20px;">
      {{ post.created_at | timeago }}
    </span>

    <p class="small">{{ post.project.name || null }}</p><br />

    <p class="post-content">
      {{ post.content || null }}
    </p>
    <hr />
    <div ng-init="get_comment(post)">
      <h4><small>
        <a data-toggle="collapse" data-target="#comments{{post.id}}">
          <%= pluralize("{{ counts[post.id] }}", "Comment") %>
        </a>
      </small></h4>
      <div id="comments{{post.id}}" class="collapse">
        <form>
          <textarea class='form-control commentAutoExpand input-expand' rows='1'
            data-min-rows="1" placeholder='...'
            name="comment" ng-model="comment"></textarea>
          <span class="pull-right">
               <a ng-click="add_comment(post, comment); comment=''">comment</a>
          </span>
        </form>
        <hr />
        <div ng-show="comments[post.id].length > 0">
          <%= render 'comments/comment' %>
        </div>
        <div ng-show="comments[post.id].length == 0">
          No comment. Please write your first comment.
        </div>
        <div class="text-center" style="height:20px;width:100%;"
          ng-show="more_comment_exist[post.id]">
          <a class="small" ng-click="more_comment(post)">Show more comments</a>
        </div>
      </div>
    </div>

  </li>
</ul>
