<div>
  <% if current_page?(admin_requests_pending_path) %>
    <span class="text-muted">Filter by role: </span>
    <% UserType.all.each do |user_type| %>
      <% if user_type.user_type.eql? params[:filter] %>
        <%= link_to user_type.user_type, admin_requests_pending_path(filter: user_type.user_type),
              class: 'btn btn-primary btn-xs'%>
      <% else %>
        <%= link_to user_type.user_type, admin_requests_pending_path(filter: user_type.user_type),
              class: 'btn btn-default btn-xs'%>
      <% end %>
    <% end %>
    <% if params[:filter] %>
      <span> | <span>
      <%= link_to 'Reset Filter', admin_requests_pending_path,
            class: 'btn btn-danger btn-xs'%>
    <% end %>
  <% elsif current_page?(admin_requests_sent_path) %>
    <span class="text-muted">Filter by role: </span>
    <% UserType.all.each do |user_type| %>
      <% if user_type.user_type.eql? params[:filter] %>
        <%= link_to user_type.user_type, admin_requests_sent_path(filter: user_type.user_type),
              class: 'btn btn-primary btn-xs'%>
      <% else %>
        <%= link_to user_type.user_type, admin_requests_sent_path(filter: user_type.user_type),
              class: 'btn btn-default btn-xs'%>
      <% end %>
    <% end %>
    <% if params[:filter] %>
      <span> | <span>
      <%= link_to 'Reset Filter', admin_requests_sent_path,
            class: 'btn btn-danger btn-xs'%>
    <% end %>
  <% end %>
</div>
