
  <div class="col-md-2" id="left-nav">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(admin_requests_pending_path) %>">
              <%= link_to 'Pending Requests', admin_requests_pending_url, method: :get %>
            </li>
            <li class="<%= 'active' if current_page?(admin_requests_sent_path) %>">
              <%= link_to 'Sent Requests', admin_requests_sent_url, method: :get %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
