
  <tbody>
    <tr>
      <td><%= request.name %></td>
      <td><%= request.email %></td>
      <td><%= request.phone %></td>
      <td><%= request.user_type.user_type %></td>
      <td>
          <%= link_to admin_requests_pdf_path(request), method: :post,
                class: 'btn btn-default btn-sm' do %>
            <i class="glyphicon glyphicon-open-file"></i>
          <% end %>
      </td>
      <td><%= request.created_at.strftime("%a %d %b %I:%M:%S %p") %></td>
      <% unless request.accepted? %>
      <td>
        <%= link_to admin_requests_path(request), method: :post,
              class: "btn btn-success btn-sm", data: { confirm: "You sure?" } do %>
          <i class="glyphicon glyphicon-ok"></i>
        <% end %>
        <%= link_to admin_request_path(request), method: :delete,
              class: "btn btn-danger btn-sm", data: { confirm: "You sure?" } do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      </td>
      <% else %>
      <td>
        <%= link_to "Resend Email", admin_requests_path(request), method: :post,
          class: "btn btn-warning", data: { confirm: "You sure?" } %>
      </td>
      <% end %>
    </tr>
  </tbody>
