<div class="row">
  <%= render 'admin/requests/left_nav' %>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="h3">
          <% if current_page? admin_requests_pending_url %>
            Pending Requests
          <% else %>
            Sent Requests
          <% end %>
          <span class="label label-info">
            <%= @requests.count %>
          </span>
        </span>
      </div>
      <div class="panel-body">
        <%= render 'admin/requests/filter' %>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>File</th>
            <th>Sent on</th>
            <th>Action</th>
          </tr>
        </thead>
          <%= render @requests %>
      </table>

    </div>
    <%= will_paginate @requests %>
  </div>
</div>
