<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="menu1" class="tab-pane fade in active">
    <%= will_paginate @requests_pending, param_name: 'pending_page' %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>File</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @requests_pending %>
      </tbody>
    </table>
  </div>
  <div id="menu2" class="tab-pane fade">
    <%= will_paginate @requests_sent, param_name: 'page_sent' %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>File</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @requests_sent %>
      </tbody>
    </table>
  </div>
</div>
