/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'bootstrap-sass-official'
 *= require 'fontawesome'
 */


/* Note: Try to remove the following lines to see the effect of CSS positioning */

body {
  padding-top: 50px;
  min-height:94vh;
}

.footer-top-margin {
  margin-top: 50px;
}

.body-content {
  min-height: 650px;
}

td {
  vertical-align: middle!important;
}

.btn-circle {
  height: 34px;
  width: 34px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 17px!important;
}

.black-background {
  background-color:#383838;
}

#flash {
  position: absolute;
  z-index: 100;
  margin-top: 10px;
}


.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.fa-caret-right {
    left: 90%;
    top: 22%;
    position: absolute;
}

.fa-right {
  left: 85%;
  top: 13%;
  position: absolute;
}

textarea.input-expand {
  display:block;
  overflow:hidden;

  padding: 10px;
  width: 100%;
  border-radius: 4px;
}
