.comment-box {
  margin-bottom: -32px!important;
}

.dl-horizontal dt {
    text-align: left!important;
    margin-bottom: 1em;
    max-width: 160px;
    width: auto!important;
    padding-right: 1em;
}

.dl-horizontal dd {
    margin-left: 0px!important;
    margin-bottom: 1em;
}

.outer-comment-box {
  overflow: hidden;
}

.inner-comment-box {
  max-height: 300px;
  overflow-y: scroll;
}
