.front-page {
  height: 94vh;
}

.about-page {
  height: 94vh;
  display: table-cell;
  vertical-align: middle;
  font-family: monospace;
  line-height: 1.6;
}

.news-page {
  background-color: purple;
  height: 94vh;
}

.projects-page {
  height: 94vh;
  background-color: red;
}

.logo {
  font-size: 100px;
  margin-top: 50px;
  margin-left: -120px;
}

.box-join {
  margin-top: 30px;
}

button.btn-join:hover {
  background: #000;
  border-color: #000;
}

button.btn-join:hover span {
  color: #FFF;
  opacity: none;
}

.btn-circle-transparent {
  opacity: 0.3;
  height: 150px;
  width: 150px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 750px!important;
}

.label-btn-transparent {
  font-size: 35px;
}

#myCarousel {
  margin-top: 80px;
}

.carousel-inner div {
  height: 120px;
  margin: auto;
  }

.carousel-control.right, .carousel-control.left {
   background-image: none!important;
 }
 .carousel-indicators li {
   border-color: #FFF!important;
 }
 .carousel-indicators li.active {
     background-color: #FFF;
 }



 .popover-title {
     color: #000;
 }

 .popover-title span {
     font-weight: 400;
 }

 .popover-content {
     color: #000;
     margin-bottom: -10px;
 }

 .popover-content a {
   color: #000;
 }

.popover-content a:hover {
  color: #000;
 }
