// Place all the styles related to the join controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do not support vh unit */
  min-height: 100vh; /* These two lines are counted as one */

  display: flex;
  align-items: center;
}
