.form-post {
  padding-top: 25px;
}

.div-post {
  height: 33px;
}

.btn-post {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
}

.btn-more {
  width: 100%;
  height: 42px;
}

.no-more {
  height: 42px;
}

.list-group-item-default {
  background-color: #f9f9f9 !important;
  border-color: #e9e9e9 !important;
}

.post-content {
  padding-left: 40px;
   padding-right: 20px;
}
