.result_style {
  margin-left: -2.5px;
  margin-bottom: 7px;
  max-width: 96%;
}

.result-box {
  width: 107%;
}

.result_margin {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.alert-box {
  width: 105%;
}

.middle {
  vertical-align: middle;
}

.pager a {
  color: black;
}

.result-box a {
  color: #000;
}
