<div class="container-fluid" style="margin-top: 20px;">

  <%= form_for(@request, url: join_path(role: params[:role]), html: { method: :post, multipart: true }) do |f| %>

    <% if @request.errors.any? %>
      <div class="alert alert-danger col-md-6 col-md-offset-3">
        <h4><%= pluralize(@request.errors.count, "error") %> prohibited this request from being sent:</h4>

        <ul>
        <% @request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="col-md-6 col-md-offset-3 jumbotron">
      <h2>Join</h2>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: false, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone %><br />
          <%= f.telephone_field :phone, autofocus: false, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :user_type, "Role" %><br>
          <%= f.select :user_type, @user_type.to_a,
            { selected: params[:role] }, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :attachment, "CV attachment" %><br>
          <span class="btn btn-default btn-file">
            <%= f.file_field :file %>
          </span>
        </div>

        <%= f.submit "Register", class: "btn btn-primary btn-lg" %><br /><br />

      <% end %>
    </div>
</div>
