<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Contact Us</h6>
      <address class="btmspace-30">
      Client Name<br>
      Building Number<br>
      Deakin University<br>
      Burwood Campus
      </address>
      <ul class="nospace">
        <li class="btmspace-10"><i class="fa fa-phone"></i> +61 (03) 9925 8182</li>
        <li><i class="fa fa-envelope-o"></i> dig@deakin.edu.au</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Projects</h6>
      <ul class="nospace linklist">
	          <li><a href="#">Current Projects</a></li>
	          <li><a href="#">In Progress</a></li>
	          <li><a href="#">In Negotiation</a></li>
	          <li><a href="#">Past Projects</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Site Map</h6>
      <ul class="nospace linklist">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="one_quarter">

    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Deakin University</a></p>
    <p class="fl_right"></a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
