
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#before-login-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: 'navbar-brand' do %>
        <span class="bold" style="margin-left: 150px; margin-right: 150px;">
          DIG
        </span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="before-login-nav-bar">
      <ul class="nav navbar-nav">
        <li><a href="/">Dashboard</a></li>

        <% unless admin? %>
        <li><%= link_to 'My Projects', projects_url %></li>
        <% end %>

        <% if admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><%= link_to :Request, admin_requests_pending_url %></li>
            <li><%= link_to :User, users_url %></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu">
              <a href="/admin/projects" tabindex="-1">Project <span class="fa fa-caret-right"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to new_admin_project_url do %>
                    Create new <span class="fa fa-plus fa-right"></span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'All Projects', admin_projects_url %></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name if current_user %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="height:20px;"></div>
