
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#before-login-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: 'navbar-brand' do %>
        <span class="bold" style="margin-left: 150px; margin-right: 150px;">
          DIG
        </span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="before-login-nav-bar">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Partners</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="users/sign_in">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
