<!DOCTYPE html>
<html>
  <head>
    <title>Deakin Incubator Group</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="members" ng-controller="MembersSearchController"
    data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="flash" class="col-md-10 col-md-offset-1">
      <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>
      <% end %>
      <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
      <% end %>
    </div>

    <% if !current_user &&
          (current_page?(root_url) ||
          request.fullpath =~ /join/i ||
          request.fullpath =~ /users\/sign_in/i ||
          request.fullpath =~ /users\/sign_up/i) %>
      <%= render 'layouts/header_before_login' %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/header_after_login' %>
      <div class="container-fluid body-content" style="padding-bottom: 50px;">
        <%= yield %>
      </div>
    <% end %>

    <%= render 'layouts/footer' %>
  </body>

</html>
